@import scala.collection.mutable.ListBuffer

@import forms.SearchForm

@(searchedOffers: ListBuffer[models.Offer], searchForm: Form[SearchForm],action_form: play.api.mvc.Call,countries : List[String])(implicit messages: play.api.i18n.Messages)

@main("Offers"){
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
    <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")" crossorigin="anonymous"></script>

    @helper.form(action = action_form) {

        @helper.inputText(searchForm("dateFrom"), 'type -> "date")
        @helper.inputText(searchForm("dateTo"), 'type -> "date")
        @helper.inputText(searchForm("minDaysAmount"), 'type -> "number")
        @helper.inputText(searchForm("starsAmount"),'type -> "number")
        @helper.inputText(searchForm("personsAmount"),'type -> "number")
        @helper.select(searchForm("country"), options = countries.map(str => str->str))
        @if(action_form == routes.TravelAgencyController.searchTrips) {
            <div class="form-group">
                <button type="submit" class="btn btn-success col-md-2 pull-right">Search</button>
            </div>
        }
    }
    <div class="row">
        <div class="col-md-12">
            <h1 class="font-bold">Offers</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        @if(offers != null){
            <table class="table table-hover table-condensed" id="mytable">
                <thead>
                    <tr>
                        <th class="font-text">No.</th>
                        <th class="font-text">Name</th>
                        <th class="font-text">Travel agency name</th>
                        <th class="font-text">Price/person</th>
                        <th class="font-text">Duration</th>
                        <th class="font-text">Stars</th>
                        <th class="font-text">Review rate</th>
                        <th class="font-text">Link</th>
                    </tr>
                </thead>
                <tbody>
                @for(offer <- searchedOffers){

                    <tr>
                        <td class="font-text">@searchedOffers.indexOf(offer)</td>
                        <td class="font-text">@offer.name</td>
                        <td class="font-text">@offer.travelAgencyName</td>
                        <td class="font-text">@offer.price</td>
                        <td class="font-text">@offer.duration</td>
                        <td class="font-text">@offer.hotelRate/5</td>
                        <td class="font-text">@offer.reviewRate/6</td>
                        <td class="font-text"><a href="@offer.link" target="_blank" >link</a></td>
                    </tr>

                }
                </tbody>
            </table>
        }else{
            <h3>No data for this params.</h3>
        }
        </div>
    </div>
}